/* Hero Section */
.heroSection {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Poppins';
}

.heroSection {
  position: relative;
  height: 100vh;
  background: url('../../public//assets/Hero.jpg') no-repeat center center/cover;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.text {
  color: #BC0404;
}

.heroSection .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6); /* Dark overlay effect */
  z-index: 1;
}

.heroSection .content {
  position: relative;
  z-index: 2;
}

.heroSection h1 {
  font-size:3rem;
  margin-bottom: 1rem;
}

.heroSection p {
  font-size: 1.5rem;
  max-width: 600px;
  margin: 0 auto;
  color: white;
}
.glowingButton {
  margin-top: 5rem;
  padding: 15px 30px;
  font-size: 18px;
  color: white;
  background-color: #000; /* Dark gray background for a modern look */
  border: 2px solid #BC0404; /* Red border for contrast */
  border-radius: 50px; /* Modern rounded corners */
  cursor: pointer;
  outline: none;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 30px rgba(188, 4, 4, 0.7), 0 0 60px rgba(188, 4, 4, 0.6), 0 0 90px rgba(188, 4, 4, 0.5); /* Enhanced glowing red shadows */
  transition: 0.3s ease-in-out, box-shadow 0.5s ease;
  animation: pulseGlow 1.5s ease-in-out infinite; /* Smooth pulse effect */
}

.glowingButton:hover {
  background-color: #BC0404; /* Red background on hover */
  color: white;
  box-shadow: 0 0 80px rgba(188, 4, 4, 0.9), 0 0 120px rgba(188, 4, 4, 0.8), 0 0 180px rgba(188, 4, 4, 0.7); /* Stronger glowing effect */
  transform: translateY(-6px) scale(1.1); /* Button moves up and scales slightly more for hover */
}

@keyframes pulseGlow {
  0% {
    box-shadow: 0 0 30px rgba(188, 4, 4, 0.7), 0 0 60px rgba(188, 4, 4, 0.6);
  }
  50% {
    box-shadow: 0 0 60px rgba(188, 4, 4, 0.9), 0 0 90px rgba(188, 4, 4, 0.7);
  }
  100% {
    box-shadow: 0 0 30px rgba(188, 4, 4, 0.7), 0 0 60px rgba(188, 4, 4, 0.6);
  }
}
