@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');

/* Global styles for other elements */
.contact-container {
    min-height: 100vh;
    background-color: black; /* Black background for the entire page */
    color: white; /* White text for general readability */
    font-family: 'Space Grotesk', sans-serif;
}

.contact-title {
    font-size: 4rem;
    margin-bottom: 2rem;
    color: black;
    text-align: center;
    background-color: #ffff;
}

.contact-description {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    max-width: 48rem;
}

.contact-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.contact-details, .contact-message-form {
    background-color: black; /* Black background for the sections */
    padding: 2rem;
    border-radius: 0.5rem;
    color: white; /* White text inside the sections */
}

.heading {
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
}

.info {
    font-size: 2rem;
    font-weight: 4px;
    color: white;
}

.contact-info-list {
    margin-top: 2rem;
}

.contact-info-item {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 1.5rem;
    font-size: large;
    font-weight: bold;
    color: white;
}

.contact-icon {
    font-size: 1.5rem;
    color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-right: 100px;
}

.input-field, .textarea-field {
    width: 100%;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #BC0404;
    background-color: black;
    color: white; /* White text for input fields */
}

.submit-button {
    width: 100%;
    padding: 0.75rem;
    background-color: #ffff;
    color: black;
    border: none;
    border-radius: 0.375rem;
    cursor: pointer;
    transition: background-color 0.2s;
    box-shadow: 0 0 5px rgba(188, 4, 4, 0.6); /* Subtle initial glow */
}

/* Glowing effect with pulsating animation */
.submit-button:hover {
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 5px rgba(188, 4, 4, 0.6), 0 0 20px 10px rgba(188, 4, 4, 0.4);
    }
    100% {
        box-shadow: 0 0 20px 10px rgba(188, 4, 4, 0.8), 0 0 30px 15px rgba(188, 4, 4, 0.6);
    }
}

.submit-button:focus {
    outline: none;
    box-shadow: 0 0 15px 10px rgba(188, 4, 4, 0.7); /* Brighter, focused glow */
}


@media (max-width: 768px) {
    .contact-layout {
        grid-template-columns: 1fr;
    }

    .nav-container {
        flex-direction: column;
        gap: 1rem;
    }

    .contact-title {
        font-size: 2rem;
    }
}
