@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600&display=swap');

.aboutSection {
    background-color: black;
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2rem;
    position: relative;
    overflow: hidden;
}

.aboutSection::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 4px solid #BC0404;
    border-radius: 10px;
    animation: borderAnimation 3s infinite;
}

@keyframes borderAnimation {
    0% {
        transform: scaleX(0);
        transform-origin: left;
    }
    50% {
        transform: scaleX(1);
        transform-origin: right;
    }
    100% {
        transform: scaleX(0);
        transform-origin: left;
    }
}

.content {
    max-width: 800px;
    padding: 10px;
}

.h1Text {
    font-size: 3.9rem;
    margin-bottom: 150px;
}

.styleSyncName {
    color: #BC0404;
}

.pText {
    font-size: 1.4rem;
    line-height: 1.6;
    margin-bottom: 20px;
}

.container {
    margin-top: 20px;
}

.glowingButton {
    background-color: #BC0404;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 1.2rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 15px rgba(188, 4, 4, 0.8);
    transition: all 0.3s ease;
}

.glowingButton:hover {
    background-color: #BC0404;
    box-shadow: 0 0 25px rgba(188, 4, 4, 0.8);
}

/* Responsive Design */
@media (max-width: 1024px) {
    .h1Text {
        font-size: 3rem;
        margin-bottom: 100px;
    }
    .pText {
        font-size: 1.2rem;
    }
    .glowingButton {
        font-size: 1rem;
        padding: 10px 20px;
    }
}

@media (max-width: 768px) {
    .aboutSection {
        flex-direction: column;
        padding: 10px;
    }
    .h1Text {
        font-size: 2.5rem;
        margin-bottom: 80px;
    }
    .pText {
        font-size: 1.1rem;
    }
    .glowingButton {
        font-size: 1rem;
        padding: 10px 18px;
    }
}

@media (max-width: 480px) {
    .h1Text {
        font-size: 2rem;
        margin-bottom: 50px;
    }
    .pText {
        font-size: 1rem;
    }
    .glowingButton {
        font-size: 0.9rem;
        padding: 8px 16px;
    }
}
